// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px
html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $color-secondary;
  // font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

// Box Sizing FTW
*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  -webkit-user-select: none;
}

*:focus {
  outline: 0;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol {
  margin-bottom: 2.5rem;
}
