
// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors
$color-initial: #ffffff;
$color-primary: #C91600;
$color-grey-lighter: #f4f5f6;
$color-grey-light: #d1d1d1;
$color-grey-dark: #606c76;

// Flash colors
$color-success: #63BE03;
$color-success-border: #2D9600;

$color-error: adjust_hue($color-success, 272);
$color-error-border: adjust_hue($color-success-border, 272);

// Custom colors
$color-folder: #84D7F9;
$color-folder-border: darken($color-folder, 10%);

// z index
$dropdown: 100;
$z-index-flash: 200;